nav, nav a {
	color: white;
}

#carousel img {
	min-width: 100vw;
	max-height: 100vh;
}

#features {
	border-bottom: 0.5px dashed grey;
	margin-top: 2%;
	padding-bottom: 5%
}

#features p {
	font-size: 80%;
}

#new-items h2 {
	margin: 2% 0 6% 0;
}

.item {
	position: relative;
}
.price {
	display: none;
	position: absolute;
	top: 50%;
	left: 55px;
}


.price a{
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 5% 15%;
	opacity: 0.5;
	cursor: pointer;
}

.navbar-toggler-icon {
	background-color: aliceblue;
}

.navbar-toggler {
}

.collapse {
	color: brown;
	margin-top: 50px;
	background: white;
	width: 90vw;
	height: 70vh;
}